@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --deep-space-sparkle: #4B5D68;
  --space-cadet: #212353;
  --medium-purple: #9C69E2;
  --hot-pink: #F063B8;
  --medium-aquamarine: #68C9BA;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 96%;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  color: var(--space-cadet);
}

p {
  font-size: 18px;
}

.btn {
  padding: 21px 29px;
  border: 0;
  background: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.btn:hover {
  outline: 1px solid black;
}

.btn--white {
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: var(--space-cadet);
  z-index: 1;
}

.btn--white img {
  margin-left: 18px;
  vertical-align: middle;
}

.btn--purple {
  background-color: var(--medium-purple);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #FFFFFF;
}

.btn--pink {
  background-color: var(--hot-pink);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: white;
}

.btn--mobile--menu {
  position: absolute;
  right: 0;
  padding: 0;
}

.btn--mobile--menu img {
  width: 27px;
}

.btn--mobile--menu:hover {
  outline: none;
}

nav .container {
  position: relative;
  display: flex;
  align-items: center;
}

nav .container .btn--white {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

nav .container .btn--white img {
  display: none;
}

.logo {
  transition-duration: 400ms;
}

.logo:hover {
  transform: scale(1.2);
}

.nav__links {
  display: none;
}

.nav__links a {
  color: var(--deep-space-sparkle);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition-duration: 300ms;
}

.nav__links a:hover {
  border-bottom: 1px solid var(--deep-space-sparkle);
  transform: scale(1.1);
}

.nav__links a.active {
  font-weight: 700;
  color: var(--space-cadet);
}

.nav__links a.active:hover {
  border-bottom: 1px solid var(--space-cadet);
}

.landing-page {
  min-height: 89vh;
  padding: 50px 0 100px 0;
  background-image: url(../img/bg/bg-lp.svg);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.landing-page h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 50px;
}

.landing-page p {
  line-height: 160%;
  font-weight: 600;
  margin-bottom: 20px;
}

.about {
  padding: 20px;
  background: rgba(240, 99, 184, 15%) url(../img/bg/bg-about.svg);
  border-radius: 50px;
  background-position: 50% 23%;
  background-repeat: no-repeat;
  background-size: 65%;
}

.about h1 {
  margin-bottom: 220px;
  line-height: 130%;
  text-align: center;
}

.about p {
  line-height: 160%;
  color: var(--deep-space-sparkle);
}

.features {
  margin-top: 50px;
}

.features__header {
  margin: 0 auto 70px auto;
  text-align: center;
}

.features__header p {
  font-size: 17px;
}

.features h1 {
  margin-bottom: 50px;
}

.features h2 {
  margin-bottom: 250px;
  font-size: 24px;
  color: var(--space-cadet);
  text-align: center;
}

.features__list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 45px;
}

.features__list p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 35px;
}

.features__item {
  position: relative;
  padding: 50px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.features__item--1 {
  background: rgba(104, 201, 186, .1) url(../img/bg/bg-f-1b.svg) no-repeat scroll 50% 37%;
}

.features__item--2 {
  background: rgba(13, 105, 156, 0.1) url(../img/bg/bg-f-2b.svg) no-repeat scroll 50% 37%;
}

.features__item--3 {
  background: rgba(240, 99 ,184, 0.1) url(../img/bg/bg-f-3b.svg) no-repeat scroll 50% 37%;
}

.features__item--4 {
  background: rgba(45, 156, 219, 0.1) url(../img/bg/bg-f-4b.svg) no-repeat scroll 50% 37%;
}

.link-with-icon {
  text-decoration: none;
  color: var(--space-cadet);
  font-weight: 600;
  cursor: pointer;
}

.link-with-icon img {
  margin-left: 18px;
  vertical-align: middle;
}

.testimonials {
  width: 95%;
  margin: 150px auto 50px auto;
  padding: 20px 0 20px 0;
  border-radius: 50px;
  background-color: var(--medium-purple);
}

.testimonials h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
  color: white;
  margin: 60px 0 88px 20px;
}

.testimonials__list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100%;
  column-gap: 20px;
  padding: 0 5% 0 5%;
  overflow-x: auto;
}

.list__item {
  width: 440px;
  height: 330px;
  padding: 30px 35px 25px 35px;
  background-color: white;
  border: 1px solid var(--medium-purple);
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
}

.list__item .image {
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

.list__item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0 0 30px;
}

.list__item__info h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;
  color: var(--space-cadet);
}

.list__item__info small {
  font-size: 14px;
  color: var(--medium-purple);
  line-height: 160%;
}

.list__item__info p {
  font-size: 18px;
  line-height: 180%;
  margin-top: 19px;
}

.testimonials__nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto 0 auto;
}

.testimonials__nav .dots {
  width: 55px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

.dot__selected {
  padding: 10px;
  background-color: var(--hot-pink);
}

.arrow__buttons {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 20px;
  color: lightgray;
}

.arrow--selected {
  font-size: 40px;
  margin-bottom: 3px;
  color: white;
}

footer > hr {
  color: var(--medium-purple);
  filter: opacity(0.2);
  margin-bottom: 100px;
}

.offer h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
  color: var(--space-cadet);
}

.offer p {
  font-size: 18px;
  line-height: 160%;
  color: var(--deep-space-sparkle);
}

footer .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .btn--white {
  display: none;
}

.contact {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 30px;
  margin-top: 30px;
}

.contact h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
  color: var(--space-cadet);
}

.contact p {
  font-size: 16px;
  font-weight: 600;
  color: var(--space-cadet);
  margin: 0;
}

.contact__address, .contact__about, .contact__help, .contact__social-media {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__address {
  height: 100px;
  justify-content: space-between;
}

.address__logo {
  display: inline-flex;
  align-items: center;
}

.address__logo h4 {
  margin-left: 20px;
}

.contact__about, .contact__help {
  height: 200px;
  justify-content: space-between;
}

.socials__list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.socials__list__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.socials__list__item:nth-of-type(1) {
  background: rgba(211, 211, 211, 0.9) url(../img/icons/facebook.webp) no-repeat scroll 50% 50%;
}

.socials__list__item:nth-of-type(2) {
  background: rgba(211, 211, 211, 0.9) url(../img/icons/twitter.webp) no-repeat scroll 50% 50%;
}

.socials__list__item:nth-of-type(3) {
  background: rgba(211, 211, 211, 0.9) url(../img/icons/instagram.webp) no-repeat scroll 50% 50%;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 180%;
  margin: 30px 0;
}

.copyright sup {
  font-size: 8px;
  position: relative;
  bottom: 5px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
  
  .btn--mobile--menu{
    display: none;
  }
  
  .btn--purple {
    box-shadow: none;
  }
  
  nav {
    margin-top: 3%;
  }
  
  nav .container .btn {
    position: absolute;
    right: 0;
    bottom: unset;
  }
  
  nav .container .btn img {
    display: initial;
  }
  
  .nav__links {
    display: flex;
    justify-content: space-between;
    width: 42%;
    margin-left: 10.8%;
  }
  
  .landing-page {
    padding: 130px 0 100px 0;
    background-position: 83% 90%;
    background-size: 60%;
  }
  
  .landing-page h1 {
    font-size: 80px;
  }
  
  .landing-page p {
    width: 43%;
    line-height: 160%;
  }
  
  .landing-page h1, p {
    margin-bottom: 50px;
  }
  
  .about {
    background-position: 50% 15%;
    background-size: 40%;
  }
  
  .about h1 {
    margin-top: 0;
    margin-bottom: 240px;
    font-size: 35px;
  }
  
  .about p {
    margin-bottom: 0;
  }
  
  .features {
    margin-top: 100px;
  }
  
  .features h2 {
    margin-bottom: 35px;
    text-align: left;
  }
  
  .features p {
    margin-bottom: 0;
  }
  
  .features__header {
    width: 52%;
    margin: 0 auto 100px auto;
  }
  
  .features__item {
    height: 360px;
    padding: 50px 50px 50px 50%;
    background-position: 100% 50%, 10% 50%;
  }
  
  .features__item--1 {
    background-image: url(../img/bg/bg-f-1.svg), url(../img/bg/bg-f-1b.svg);
  }
  
  .features__item--2 {
    background-image: url(../img/bg/bg-f-2.svg), url(../img/bg/bg-f-2b.svg);
  }
  
  .features__item--3 {
    background-image: url(../img/bg/bg-f-3.svg), url(../img/bg/bg-f-3b.svg);
  }
  
  .features__item--4 {
    background-image: url(../img/bg/bg-f-4.svg), url(../img/bg/bg-f-4b.svg);
  }
  
  .link-with-icon {
    position: absolute;
    left: 50%;
    bottom: 30px;
  }

  .contact {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px auto;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }

  .about {
    padding: 125px 92px 125px 50%;
    background-position: 5% 50%;
    background-size: unset;
  }

  .about h1 {
    margin-bottom: 40px;
    text-align: left;
  }

  .landing-page {
    background-position: 80% 95%;
  }

  .landing-page h1 {
    width: 60%;
  }

  .features__list {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 45px;
      width: 75%;
      margin: 0 auto;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    width: 1120px;
  }

  .nav__links {
    width: 25.75%;
  }

  .landing-page {
    background-size: unset;
  }

  .landing-page h1 {
    width: 53%;
    font-size: 80px;
  }

  .landing-page p {
    width: 34%;
    line-height: 160%;
  }

  .features {
    margin-top: 150px;
  }

  .features__list {
    grid-template-columns: calc(50% - 22.5px) calc(50% - 22.5px);
    width: 100%;
  }

  .features__item--1 {
    background: url(../img/bg/bg-f-1.svg) no-repeat scroll 100% 50%,
                url(../img/bg/bg-f-1b.svg) no-repeat scroll 10% 50%;
  }

  .features__item--2 {
    background: url(../img/bg/bg-f-2.svg) no-repeat scroll 100% 50%,
                url(../img/bg/bg-f-2b.svg) no-repeat scroll 10% 50%;
  }

  .features__item--3 {
    background: url(../img/bg/bg-f-3.svg) no-repeat scroll 100% 50%,
                url(../img/bg/bg-f-3b.svg) no-repeat scroll 10% 50%;
  }

  .features__item--4 {
    background: url(../img/bg/bg-f-4.svg) no-repeat scroll 100% 50%,
                url(../img/bg/bg-f-4b.svg) no-repeat scroll 10% 50%;
  }

  .contact {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
  }
}